<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado do Empréstimo</title>
</head>
<body>
    <h1>Resultado do Empréstimo</h1>
    <p>Valor Negociado (sem juros): R$ {{ valor_negociado }}</p>
    <p>Total do Saldo Devedor (principal + encargos): R$ {{ total_saldo_devedor }}</p>
    <p>Valor da Entrada : R$ {{ valor_entrada }}</p>
    <p>Valor Mensal das Parcelas: R$ {{ prestacoes_mensais }}</p>
    <p>Número de Parcelas: {{ numero_parcelas }}</p>
    <p>Taxa de Juros: {{ taxa_juros }}%</p>

</body>
</html>

